@model WebApp.Models.ViewTicketReplyDto

<li class="media">
    <a href="#" class="pull-left pr-2">
        <img src="http://www.fillmurray.com/64/64" alt="" class="rounded-circle">
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
            <small class="text-muted">@Html.DisplayFor(model => model.CreatedAt)</small>
        </span>
        <strong class="text-success">@@@Html.DisplayFor(model => model.CreatedBy.UserName)</strong>
        <p>
            @Html.DisplayFor(model => model.Content)
        </p>
    </div>
</li>
<hr />
