@model WebApp.Models.NewReplyDto


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class=" clearfix">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", placeholder = "Write a Reply" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <input type="submit" value="Submit" class="btn btn-dark float-right" />
    </div>
}
